---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
  title="About"
  description="About Thomas Holst and this blog"
  pubDate={new Date('December 06 2024')}
  published={true}
  heroImage={AboutHeroImage}
>
  <p>
    Yes, every proud website needs an About page. Even the little ones. This is
    it.
  </p>

  <h2>Who is Thomas</h2>

  <p>
    My <a href="https://www.linkedin.com/in/thomas-holst/">linkedIn page</a> says
    "Senior Software Developer" - feels weird, but I guess there may be some truth
    in that. 😊
  </p>

  <p>
    I am <em>currently</em> working at <a href="https://www.data4life.care/"
      >data4life</a
    > - a nonprofit organization working on healthcare and research solutions.
  </p>

  <p>
    <em>Past positions include</em> an <a href="https://icn.sap.com/"
      >innovation group</a
    > within <a href="https://www.sap.com/">SAP</a> where we did bottom-up innovation
    - building new solutions directly with customers in Healthcare - and <a
      href="https://www.dreamit.de/">dreamIT</a
    > where we built a SaaS solution from scratch together with the great colleagues
    from <a href="https://www.digitalcolliers.com/">Digital Colliers</a>.
  </p>

  <p>I am living in Hamburg, Germany.</p>

  <h2>What is this?</h2>

  <p>
    Just my personal notes about software development, the Web and Everything. I
    will <em>occasionally</em> (let's be realistic from the start) publish something
    here.
  </p>

  <p>
    I have created this blog with the intention to write more and better about
    the stuff I am learning and working on. It's like that Gym membership - the <em
      >hope</em
    > that a subscription will make you exercise regularly. (I know what you are
    thinking.)
  </p>

  <p>Time will tell...</p>

  <h2>How does it work?</h2>

  <p>
    This site is built with modern web technologies. It's a learning project in
    itself - rest assured, I am ignoring many best practices along the way. The
    repository's <a href="https://github.com/tholst/thohol-astro">README</a> is your
    curious mind's best friend.
  </p>
</Layout>
